<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 100px; margin-bottom:300px">
            {{#if error}}
            <h1>Gracias por la compra</h1>
    
            {{else}}
            <h1>Error en la compra</h1>
            
            {{/if}}
            <a href="/volver" class="btn btn-primary">Seguir Comprando</a>
        </div>
    </div>
</div>